NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT='https://ik.imagekit.io/<YOUR_ID>/'
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY='<YOUR_PUBLIC_KEY>'
IMAGEKIT_PRIVATE_KEY='<YOUR_PRIVATE_KEY>'

NEXT_PUBLIC_API_ENDPOINT='http://localhost:3000'

DATABASE_URL='postgresql://<USER>:<PASSWORD>@<HOST>/<DB_NAME>?sslmode=require'

AUTH_SECRET='<RANDOM_STRING_FOR_NEXT_AUTH>'

UPSTASH_REDIS_URL='https://<HOST>.upstash.io'
UPSTASH_REDIS_TOKEN='<YOUR_REDIS_TOKEN>'


# Workflow Qstash tokens
QSTASH_URL='https://qstash.upstash.io/v2'
QSTASH_TOKEN='<YOUR_QSTASH_TOKEN>'
QSTASH_CURRENT_SIGNING_KEY='<YOUR_CURRENT_SIGNING_KEY>'
QSTASH_NEXT_SIGNING_KEY='<YOUR_NEXT_SIGNING_KEY>'



RESEND_TOKEN='re_<YOUR_RESEND_TOKEN>'

DEMO_USER_EMAIL='demo@example.com'
DEMO_USER_PASSWORD='demopassword123'
